
<div id="title"><h1 >Movie Bot</h1></div>
<div id="chat-div" class="show-chat">
    @*<div id="chat-header">*@
        @*<div id="chat-header-name"></div>*@
        @*<span class="glyphicon glyphicon-resize-full js-hide" id="js-maximize-chat"></span>
        <span class="glyphicon glyphicon-minus" id="js-minimize-chat"></span>
        <span class="glyphicon glyphicon-remove" id="js-exit-chat"></span>*@
    @*</div>*@
    <div id="js-messages-holder">


    </div>

    <span id="chat-input">
        <input type="text" class="form-control" placeholder="enter chat message" id="js-chat-input">
        <span class="btn btn-success" id="js-send-chat-message">Send</span>
    </span>

</div>
